.new-post {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  border-radius: 8px;
}

.post-button-container {
  text-align: right;
}

.post-button {
  margin-left: auto;
  margin-right: 0;
}
